name: deploy-lambda
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Install Rust toolchain
      uses: moonrepo/setup-rust@v1
      with:
        bins: cargo-lambda
    - name: Install Zig toolchain
      uses: mlugg/setup-zig@v1
      with:
        version: 0.15.0
    - name: build cargo lambda
      run: cargo lambda build
    - name: default deploy
      if: github.ref == 'refs/heads/main'
      uses: appleboy/lambda-action@master
      with:
        aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws_region: ${{ secrets.AWS_REGION }}
        function_name: discord_event_bot
        source: target/lambda/bootstrap.zip
